.no-suggestions {
	color: #999;
	padding: 0.5rem;
  }
  
  .suggestions {
	border: 2px solid black;
	list-style: none;
	margin-top: 0;
	max-height: 300px;
	overflow-y: auto;
	padding-left: 0;
	width: 80%;
  }
  
  .suggestions li {
	padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
	background-color: lightgrey;
	color:blue;
	cursor: pointer;
	font-weight: 500;
  }
  
  .suggestions li:not(:last-of-type) {
	border-bottom: 1px solid lightgrey;
  }